sudo: false
language: python
matrix:
  fast_finish: true
  include:
    - python: "3.6"
      env: TOXENV=py36
    - python: "3.7"
      env: TOXENV=py37
      dist: xenial
    - python: "3.8"
      env: TOXENV=py38
    - python: "3.9"
      env: TOXENV=py39
    - python: "3.9"
      env: TOXENV=mypy
cache: pip
install: pip install -U tox coveralls
script: tox
after_success: coveralls
